# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bin
/.settings
.classpath
.project
derby.txt
derby.log
dtinvoice.db
/build
manifest.mf
src/resources/dtinvoice.db
